# Rails application installed in subdirectory set rails_relative_url_root: '/nsiaf'
development:
  convert_api_url: 'http://localhost/conversion-formatos'
  rails_host: 'http://localhost:3000'
  rails_relative_url_root: ''
  secret_key_base: d7c345615c14afe85dd35d9169e9743c4f24de413990b3133b93865f1f5f490db6a3c1327e9a5af3fc845937a7f489bbda865a25caa424144580d2d106cb121c
  wkhtmltopdf: '/usr/local/bin/wkhtmltopdf'
  ufv_desde: '01-01-2015'
  exception_notification:
    email_prefix: "[NSIAF] "
    sender_address: "notificador <noreply@dominio.gob.bo>"
    exception_recipients: "desarrolladores@dominio.gob.bo"
  smtp_settings:
    address: 'smtp.dominio.gob.bo'
    port: 587
    domain: 'dominio.gob.bo'
    user_name: 'nsiaf'
    password: 'mi-super-password'
    authentication: 'plain'
    enable_starttls_auto: true

test:
  convert_api_url: 'http://localhost/conversion-formatos'
  rails_host: 'http://localhost:3000'
  rails_relative_url_root: '/nsiaf'
  secret_key_base: f65fdcebb3a5fe0b9bbd96596e65862cbbecbc449e7b94750ad16ed0ecef527f14598f20b41d0ffb0d1d19d9053ec186e83e614accfc98e5d4f61baa914cd494
  wkhtmltopdf: '/usr/local/bin/wkhtmltopdf'
  ufv_desde: '01-01-2015'
  exception_notification:
    email_prefix: "[NSIAF] "
    sender_address: "notificador <noreply@dominio.gob.bo>"
    exception_recipients: "desarrolladores@dominio.gob.bo"
  smtp_settings:
    address: 'smtp.dominio.gob.bo'
    port: 587
    domain: 'dominio.gob.bo'
    user_name: 'nsiaf'
    password: 'mi-super-password'
    authentication: 'plain'
    enable_starttls_auto: true

production:
  convert_api_url: "https://intranet.adsib.gob.bo/conversion-formatos"
  rails_host: "www.dominio.gob.bo"
  rails_relative_url_root: ""
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  wkhtmltopdf: "/opt/wkhtmltox/bin/wkhtmltopdf"
  ufv_desde: '01-01-2018'
  exception_notification:
    email_prefix: "[NSIAF] "
    sender_address: "notificador <noreply@dominio.gob.bo>"
    exception_recipients: "desarrollador1@dominio.gob.bo, desarrollador2@dominio.gob.bo, ..."
  smtp_settings:
    address: 'smtp.dominio.gob.bo'
    port: 587
    domain: 'dominio.gob.bo'
    user_name: 'nsiaf'
    password: 'mi-super-password'
    authentication: 'plain'
    enable_starttls_auto: true
