.row{data: {action: 'barcode'}}
  #preview-barcodes.col-sm-12

#barcodes-urls{data: {'barcodes-obt-cod-barra' => obt_cod_barra_barcodes_path, 'barcodes-pdf' =>  pdf_barcodes_path(format: :pdf)}}

= render 'pdf_barcode_tpl'
