- unless @proceeding.new_record?
  window.proceeding_path = "#{ proceeding_path(@proceeding) }";
  window.location = "#{ proceeding_path(@proceeding, format: :pdf) }";
- else
  alert('No ha seleccionado ningún Activo, por favor seleccione al menos un Activo Fijo');
